
.contact-page-layout {
    margin-top: 10%;
}

.contact-page-details {
    width: 50%;
    border: 2px solid black;
}

.contact-page-social {
    width: 50%;
    border: 2px solid red;
}

.contact-page-social-item img{
    height: 100px;
}