.contact-page {
    height: 80vh;
}
.contact-page-layout {
    height: 100%;
}

.contact-page-details {
    width: 50%;
    border-right: 4px solid black;
}

.contact-page-details-title h2{
    margin-bottom: 5%;
}

.contact-page-social {
    width: 50%;
}

.contact-page-social-item img{
    height: 100px;
}