.contact-page {
    margin-bottom: 15%;
    margin-top: 10%;
}
.contact-page-layout {
    margin-top: 10%;
}

.contact-page-details {
    width: 50%;
}

.contact-page-details-title h2{
    margin-bottom: 5%;
}

.contact-page-social {
    width: 50%;
}

.contact-page-social-item img{
    height: 100px;
}

.vertical-line {
    width: 3px;
    background-color:#000;
    position:absolute;
    top: 175px;
    bottom: 175px;
    left:50%;
    right:50%;
}