.footer-grid {
    align-items: center;
    justify-content: center;
}

.footer-grid-left, .footer-grid-right {
    width: 50%;
    text-align: center;
}

.footer-grid-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img{
    width: 50px;
}